:root {
  /* Light Mode */
  --bg-color: #17212B;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #828282;
  --accent-color: #0088CC;
  --accent-hover: #007AB8;
  --input-bg: #1F2937;
  --border-color: #2C3A47;
  --user-bubble-bg: #2A3942;
  --friend-bubble-bg: #1E2B38;
}



/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
  
}

::-webkit-scrollbar-track {
  background: var(--input-bg);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: rgb(160, 159, 159);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .active{
  background: red;
} */